
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3 m-3">
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card shadow">
                        <img class="img-fluid" src="https://images.pexels.com/photos/1222271/pexels-photo-1222271.jpeg?auto=compress&cs=tinysrgb&w=600" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title text-center">John</h5>
                          <p class="card-text text-center">Admission No: 6464</p>
                          <p class="card-text text-center">Roll No: 6464</p>
                        </div>
                    </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card shadow">
                        <img class="img-fluid" src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&w=600" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title text-center">John</h5>
                          <p class="card-text text-center">Admission No: 5454</p>
                          <p class="card-text text-center">Roll No: 5454</p>
                        </div>
                    </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card shadow">
                        <img class="img-fluid" src="https://images.pexels.com/photos/774909/pexels-photo-774909.jpeg?auto=compress&cs=tinysrgb&w=600" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title text-center">John</h5>
                          <p class="card-text text-center">Admission No: 5353</p>
                          <p class="card-text text-center">Roll No: 5353</p>
                        </div>
                    </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card shadow">
                        <img class="img-fluid" src="https://images.pexels.com/photos/1239291/pexels-photo-1239291.jpeg?auto=compress&cs=tinysrgb&w=600" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title text-center">John</h5>
                          <p class="card-text text-center">Admission No: 6767</p>
                          <p class="card-text text-center">Roll No: 6767</p>
                        </div>
                    </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card shadow">
                        <img class="img-fluid" src="https://images.pexels.com/photos/1681010/pexels-photo-1681010.jpeg?auto=compress&cs=tinysrgb&w=600" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title text-center">John</h5>
                          <p class="card-text text-center">Admission No: 6778</p>
                          <p class="card-text text-center">Roll No: 6778</p>
                        </div>
                    </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card shadow">
                        <img class="img-fluid" src="https://images.pexels.com/photos/762020/pexels-photo-762020.jpeg?auto=compress&cs=tinysrgb&w=600" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title text-center">John</h5>
                          <p class="card-text text-center">Admission No: 7893</p>
                          <p class="card-text text-center">Roll No: 7893</p>
                        </div>
                    </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card shadow">
                        <img class="img-fluid" src="https://images.pexels.com/photos/1516680/pexels-photo-1516680.jpeg?auto=compress&cs=tinysrgb&w=600" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title text-center">John</h5>
                          <p class="card-text text-center">Admission No: 9393</p>
                          <p class="card-text text-center">Roll No: 9393</p>
                        </div>
                    </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card shadow">
                        <img class="img-fluid" src="https://images.pexels.com/photos/1036623/pexels-photo-1036623.jpeg?auto=compress&cs=tinysrgb&w=600" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title text-center">John</h5>
                          <p class="card-text text-center">Admission No: 9354</p>
                          <p class="card-text text-center">Roll No: 9354</p>
                        </div>
                    </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card shadow">
                        <img class="img-fluid" src="https://images.pexels.com/photos/206445/pexels-photo-206445.jpeg?auto=compress&cs=tinysrgb&w=600" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title text-center">John</h5>
                          <p class="card-text text-center">Admission No: 9989</p>
                          <p class="card-text text-center">Roll No: 9989</p>
                        </div>
                    </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card shadow">
                        <img class="img-fluid" src="https://images.pexels.com/photos/2379005/pexels-photo-2379005.jpeg?auto=compress&cs=tinysrgb&w=600" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title text-center">John</h5>
                          <p class="card-text text-center">Admission No: 8954</p>
                          <p class="card-text text-center">Roll No: 8954</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>